.rdw-editor-wrapper {
  width: 600px;
  border: 1px solid #c0c0c0;
}
.rdw-editor-toolbar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
.rdw-option-wrapper {
  background-color: transparent;
}
.rdw-option-disabled {
  opacity: 1;
}
.rdw-link-modal {
  z-index: 100000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rdw-link-modal-target-option {
  display: hidden !important;
}
