$blue: #3E489A;
$login-element-width: max(10vw, 240px);

$login-form-height: max(80vh, 700px);
$login-form-width: max(25vw, 400px);
$login-form-shadow: 0 0 5px black;
$login-form-background-color: white;
$login-form-border-radius: 5px;

$login-form-input-width: $login-element-width;
$login-form-input-font-size: 20px;
$login-form-input-line-height: 24px;

$btn-width: $login-element-width;
$btn-bg-color: $blue;
$btn-height: 50px;

$forgot-pw-color: #FF0000;
$forgot-pw-font-size: 16px;
$forgot-pw-line-height: 18px;

$form-separator-color: #333333;
$form-separator-font-size: 17px;
$form-separator-line-height: 19px;





